{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>

<ul>
{% for choice in choices %}
<li>
    <select id="filter_{{ title }}"
        data-ajax--cache
        data-ajax--type="GET"
        data-ajax--url="{{ choice.url }}"
        data-theme="admin-autocomplete"
        data-allow-clear="true"
        data-placeholder="{{ title|title }}"
        data-querystring="{{ choice.query_string }}"
        data-querystring-placeholder="{{ choice.query_string_placeholder }}"
        data-querystring-all="{{ choice.query_string_all }}"
        data-app-label="{{ choice.app_label }}"
        data-model-name="{{ choice.model_name }}"
        data-field-name="{{ choice.field_name }}"
        style="width:210px;"
        class="admin-autocomplete admin-autocomplete-filter"
    >
    {% if choice.selected %}
        <option selected value="{{ choice.selected }}">{{ choice.selected_display }}</option>
    {% endif %}
    </select>
</li>
{% endfor %}
</ul>
